@model TestDrivingMVC.Common.Domain.Customer
@{
    ViewBag.Title = "Test-Driving ASP.NET MVC";
}

<h2>@ViewBag.Title</h2>
<strong>@Html.LabelFor(m => m.FirstName):</strong>
@Html.DisplayFor(m => m.FirstName)<br/>
<strong>@Html.LabelFor(m => m.LastName):</strong>
@Html.DisplayFor(m => m.LastName)<br/>
<strong>@Html.LabelFor(m => m.DateOfBirth):</strong>
@Html.DisplayFor(m => m.DateOfBirth)
