@model TestDrivingMVC.Common.Domain.Customer
@{
    ViewBag.Title = "Customer Index";
}
@using(Html.BeginForm()) {
    <h2>@ViewBag.Title</h2>
    <strong>@Html.LabelFor(m => m.FirstName):</strong>
    @Html.Raw("<p>")@Html.DisplayFor(m => m.FirstName)@Html.Raw("</p>")
    <strong>@Html.LabelFor(m => m.LastName):</strong>
    @Html.Raw("<p>")@Html.DisplayFor(m => m.LastName)@Html.Raw("</p>")
    <strong>@Html.LabelFor(m => m.DateOfBirth):</strong>
    @Html.Raw("<p>")@Html.DisplayFor(m => m.DateOfBirth)@Html.Raw("</p>")

    <input type="submit" value="Next =>"/>

}