@model TestDrivingMVC.Common.Domain.Customer
@{
    ViewBag.Title = "Customer Index";
}
@using(Html.BeginForm()) {
    <h2>@ViewBag.Title</h2>
    <strong>@Html.LabelFor(m => m.FirstName):</strong>
    <label id="firstName">@Model.FirstName</label><br/>
    <strong>@Html.LabelFor(m => m.LastName):</strong>
    <label id="lastName">@Model.LastName</label><br/>
    <strong>@Html.LabelFor(m => m.DateOfBirth):</strong>
    <label id="dateOfBirth">@Model.DateOfBirth</label><br/>

    <input type="submit" value="Next =>" id="next"/>

}